<html>
    <body>
    <table class="frame">
            <tr><td><div class="colorbox" style="background-color:rgb({{red}}, {{green}}, {{blue}});">&nbsp;</div></td></tr>
            <tr><td class="colordescription">{{name}}: {{rgb}}</td></tr>
        </table>
     <form method="POST">
            <table class="table" style="width:100%">
                <tr>
                  <th>Name</th>
                  <th>{{form.red.label}}</th>
                  <th>{{form.green.label}}</th>
                    <th>{{form.blue.label}}</th>
                </tr>
                <tr>
                  <td>{{form.label}}</td>
                  <td>{{form.red}}</td>
                  <td>{{form.green}}</td>
                    <td>{{form.blue}}</td>
                </tr>
                <tr>
                  <td><input type="submit" value="Insert"></td>
                </tr>
            </table>
     </form>
    </body>
</html>